<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<% if user_signed_in? %>
  <tag>
    Rate this item:
    <% for i in 1..5 %>
        <p>
        <div style="float: left; width: auto;">
          <%= button_to(i.to_s, rate_item_path(@item, i), method: :get, remote: true) %>
        </div>
        </p>
    <% end %>
    <br>
    <br>
  </tag>
<% end %>

<%= link_to 'New Item', new_item_path %> |
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
