<!DOCTYPE html>
<html>

<head>
  <title>SuggestgridRailsSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= link_to('Home', items_path) %>

<% if user_signed_in? %>
    <li>
      <p>
        Welcome <%= current_user.name %> |
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </p>

    </li>
<% else %>
    <li>
      <%= link_to('Sign Up', new_user_registration_path) %>
      or
      <%= link_to('Login', new_user_session_path) %>
    </li>
<% end %>

<p style="color:gray">________________________________</p>

<%= yield %>

<p style="color:gray">_________________________________</p>

</body>
</html>
